.mydiv1{
    margin-left: 200px;
    border: 1px solid black;
    height: 800px;
    width: 800px;
}
.mydiv2{
    margin-left: 50px;
    margin-top: 50px;
    height: 700px;
    width: 700px;
    border: 1px solid black;
    border-radius: 90%;
    background-color: rgb(191, 166, 132);
}
.mydiv3{
    /* margin-left: 100px;
    margin-top: 160px; */
    margin-top: 30%;
    margin-left:20%;
    height: 199px;
    width: 199px;
    border: 2px solid black;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    float: left;
    background-color: aliceblue;
}
.mydiv4{
    /* margin-left: 310px;
    margin-bottom: 1000px; */
    height: 199px;
    width: 199px;
    margin-top: 30%;
    margin-right:22%;
    border: 2px solid black;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    float: left;
    background-color: aliceblue;
}
.mini1{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    margin-top: 22%;
    margin-left:28%;
    border-radius: 90%;
    background-color: black;
}
.mini2{
    height: 80px;
    width: 80px;
    border: 2px solid black;
    margin-top: 22%;
    margin-right:28%;
    border-radius: 90%;
    float: right;
    background-color: black;
}
.mydiv5{
    height: 100px;
    width: 200px;
    border: 2px solid black;
    float: right;
    margin-right: 37%;
    margin-top: 5%;
    background-color: aliceblue;
}